/* pagina contacto */
.contacto{
    margin: 2rem 0; /*modifique tenia auto*/ 
    display:flex;
    justify-content: center;
    flex-direction:row;  
}
.tarjetaform{
    max-width: 400px;   
    overflow:visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    input,textarea {     /*para la tarjeta*/
            width: 100%;
            border-radius: 5px;
            padding: .5rem;                        
        }    
    div{
        margin: 1rem;
        input{
            margin: .5rem 0;
        }
    }          
}
/* fin pagina contacto*/