header{
    background-color: $colorprimario;
    display:flex;
    top: 0;
    border-radius: 3px;
    grid-area: cabeza;
    padding: 1.5rem  ; 
    .navegador {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: auto;
        font-family: $fuentetitulos;
        text-align: center;
        ul{
            text-align: end;
        }
        li {
            display: inline-block;
        }
        a{
        color: $colorletras;
        text-decoration: none;
        padding: .5rem;
        display: block;
        &:hover { /*animacion al pasar mouse en nav*/
            color: $hoover }
                 
         }
             } 
             


}
