
.main{
    background-image: url(../img/fabio-alves-_fLgxjACz5k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 52px 2rem 2rem 2rem;
    color: $colorletras;
    /*animacion al titulo*/
    h1{
        animation-duration: 1s;
        animation-name: efecto;
        animation-iteration-count: infinite;
        color: $colorletras;
        text-align: center;
        @keyframes efecto {
            0%{
                opacity: 0;
                            }
            100% {
                opacity: 1;
                            }
                        }
            /*fin animacion*/ 
                }
               
    .main_section{
        color: rgb(250, 250, 249);
        font-size: larger;
        background: linear-gradient(to right bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.5) );
        padding: 1rem;
                }
    p,button{
        font-family: $fuentetitulos
                }
    h1,h3{
        font-family: $fuentetitulos;
                }
    .color img{
        padding-left: 10px;
        padding-top: 5px;
                }
    .logo{
        width: 80px;
        height: 48px;
                }
}