/*responsive index*/
@media screen and (max-width: 480px){
    .gridcontenedor{
        grid-template-columns:1fr 1fr ;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
        "cabeza cabeza"
        "main main"
        "footer footer";
                   }
    .main{
        height: auto;
        .main_section{
            margin: 2rem 0 ;
            .fotos{
            .fotoindex{
                height: 200px;
                width: 350px;
            }
        }    
             
        }
         }
    header{
        position: static;
    .navegador{
        li{
        display: block;    
        }    
    }    
         }
    
    
    /*responsive nuestrascervezas*/
    
    .contenedor{
        margin: 5px;
        .tarjeta{   
            width: 100% ;
            height: auto;
            overflow: hidden;
            margin: 20px 0 ;
        .tarjeta_descripcion{
            padding: .5rem;
        }        
        }
        img{
            width: 80px; 
            }  
    }                
    /*sobrenosotros*/

    .main section p{
        padding-left: 10px;
        
    }
    /*cursos*/
    .cursos iframe{
        width: 300px;
    }

    /*responsive footer*/
    footer{
        padding-top: 0;

    .contenedorfooter{
        flex-direction: column;
        }
    .boxfooter_redes{
       margin: .5rem 0 ;
       text-align: center;
        
        i{
            font-size: 40px;
            }
        h2{
            display: none;
            }  
        }    
    .boxfooter{
        margin: .5rem 0;
       
    } 
       
        }
    
       
}
