$colorprimario: rgba(147, 144, 142, 0.883);
$colorletras: aliceblue;
$fuentetitulos: 'BIZ UDPMincho', serif;

$tarjetas : (ancho: 400px,
            fondo:rgba(177,161, 161, 0.264), 
            borde: groove,
            margen:20px,
            alineacion: center
    )
    


   


   
    