$colorprimario: rgb(0, 0, 0);
$colorletras: aliceblue;
$fuentetitulos: 'BIZ UDPMincho', serif;
$hoover:rgba(253, 11, 11, 0.875);  

$tarjetas : (ancho: 400px,
            fondo:rgba(177,161, 161, 0.264), 
            borde: groove,
            margen:20px,
            alineacion: center
    )
    


   


   
    